[Unit]
Description=Heavy Metal Releases Service
Wants=network.target

[Service]
ExecStart=/path/to/binary/metal serve

[Install]
WantedBy=multi-user.target
