@tailwind base;
@tailwind components;
@tailwind utilities;

#feeds__container {
    & a {
        text-decoration: underline;
        color: rgb(37 99 235);

        &:hover {
            color: rgb(30 64 175);
        }
    
        &:visited {
            color: rgb(147 51 234);
        }
    }
}
